.clients {
    padding-bottom  : 0;
    background-color: #fff;
    background-size : cover;

    .owl-carousel {
        padding-bottom: 42px;

    }

    .client {
        display        : flex;
        justify-content: center;
        align-items    : center;
        height         : 80px;

        &:hover {
            img {
                opacity: 1;
            }
        }

        img {
            cursor    : pointer;
            transition: 0.3s ease-in-out;
            opacity   : 0.5;
            width     : auto;
            max-width : 100%;
        }
    }
}