/*------------------------------------*\
    #Thanks
\*------------------------------------*/
.thank-you {
    padding: 150px 0;

    .slogan {
        width        : 85px;
        height       : 85px;
        margin-bottom: 50px;

        img {
            width : 100%;
            height: 100%;
        }
    }
}