#purple-gr{
  background: linear-gradient(45deg, #635bd6, #f742aa) !important;
}
#green-gr{
  background: linear-gradient(45deg, #45c0ba, #76c880) !important;
}
#orange-gr{
  background: linear-gradient(45deg, #f16e3c, #e3c94b) !important;
}
.smbt{
  width: 70%;
  margin: 0 auto;
}
.p-norm{
  padding: 0 0 15px 0 !important;
}
.product-name{
  color: black;
}
.product-name:hover{
  color: #27ae60;
}
.pr-a{
  color: gray;
  padding: 0 5px;
}
.pr-a:hover{
  color: #4cae4c;
}
.imgcon{
  max-width: 65px;
  max-height: 65px;
  height: 100%;
}
